<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Moongoose Flights</h1>
    <a href="/">Home</a> | <a href="/flights/new">New</a> | <a href="/flights">All Flights</a>